div.landing {
  background-image: url(../../assets/images/landing_img.jpg);
  background-color: var(--primaryBlue);
  background-attachment: fixed;
  width: 100vw;
  height: 30em;
  padding: 15em 0 0 0;
  display: inline-block;
  background-position: center;
  color: #fff;
  text-align: center;
  text-shadow: 1px 5px 5px black;
}

div.landing h1.text-zero {
  margin: 0;
  font-size: 1.6em;
  font-weight: 300;
}

div.landing h1.text-one {
  margin: 0;
  font-size: 5em;
}

div.landing h3.text-two {
  margin: 1em 0 0 0;
  font-weight: 300;
  font-size: 1.5em;
}

div.landing h3.text-three {
  margin: 0;
  font-size: 3em;
  text-transform: uppercase;
}

div.landing h3.text-four {
  margin: 0.5em 0 0 0;
  font-size: 2em;
  font-weight: 400;
  color: var(--primaryYellow);
}

div.delivery-methods {
  display: flex;
  justify-content: space-around;
  max-width: 900px;
  margin: auto;
}

div.delivery-methods .order,
div.delivery-methods .delivery,
div.delivery-methods .location {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

div.delivery-methods img:first-child {
  height: 50px;
  margin-bottom: 5px;
}

/* REVIEW SPLIDE */
div.reviews {
  background-color: #000;
  opacity: 90%;
  margin-top: 2em;
  padding: 2em 0 3em 0;
}

div.reviews header {
  font-size: 2.3em;
  text-align: center;
  color: #fff;
  font-weight: 700;
}

div.reviews div.review-splide {
  max-width: 550px;
  color: #fff;
}

div.reviews div.review-splide .review {
  color: #fff;
  font-size: 1.1em;
  font-weight: 300;
}

div.reviews div.review-splide .reviewer {
  max-width: 550px;
  color: var(--primaryYellow);
  font-size: 1.5em;
}

 div.reviews .splide__pagination {
  bottom: -1.5em;
}

@media screen and (max-width: 1000px) {
  div.landing {
    padding: 9em 0 0 0;
    height: 20em;
  }

  div.landing h3.text-two {
    font-size: 1.6em;
  }

  div.landing h3.text-three {
    font-size: 2.1em;
  }

  div.landing h3.text-four {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 800px) {
  div.landing h1.text-one {
    font-size: 4em;
  }

  div.delivery-methods {
    display: initial;
  }

  div.delivery-methods .order,
  div.delivery-methods .delivery,
  div.delivery-methods .location {
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 600px) {
  div.landing {
    background-image: url(../../assets/images/landing_img.jpg);
    background-attachment: fixed;
    width: 100vw;
    height: 30em;
    display: inline-block;
    background-position-y: top;
    background-position-x: right;
    color: #fff;
    text-align: center;
    padding: 9em 0 0 0;
    height: 20em;
  }

  div.landing h1.text-one {
    font-size: 3em;
  }

  div.landing h3.text-two {
    font-size: 1.4em;
  }
}

@media screen and (max-width: 450px) {
  div.landing h3.text-three {
    font-size: 1.5em;
  }

    div.reviews header {
      font-size: 2em;
    }
}
