:root {
  /* COLOR */
  --tranparentBlack: #050505cc;
  --primaryColor: #e60000;
  --primaryColorDeep: #c30000;
  --primaryText: #000;
  --primaryYellow: #e9e966;
  --primaryBlue: #1565c0;
  --dimBreadCrumbTxt: #ddcaca;

  /* BORDER */
  --lightBorder: rgba(0, 0, 0, 0.15);

  /* zINDEXES */
  --zIndex: 1100;
  --zIndex1: 1101;
  --zIndex2: 1102;
  --zIndex3: 1103;
  --zIndex4: 1104;
  --zIndex5: 1105;
  --zIndex6: 1106;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  color: inherit;
  text-decoration: none;
}

.breadcrumbs {
  background-color: var(--primaryColor);
  color: #fff !important;
  padding: 1em 4em;
  font-family: inherit !important;
}

@media screen and (max-width: 600px) {
  .breadcrumbs {
    padding: 0.8em 1em;
  }
}
