.page-title h1 {
  font-size: 2em;
  -webkit-text-stroke: medium;
  text-transform: uppercase;
  color: var(--primaryText);
  text-align: center;
  margin: 40px 0 10px 0;
}

@media screen and (max-width: 400px) {
  .page-title h1 {
    font-size: 1.5em;
    margin: 20px 0 10px 0;
  }
}
